<div class="heading_container">
  <div class='heading_text_container'>
    <h1 class='heading_text'>iArt Gallery</h1>
    <hr/>
    <p class="heading_para">Great Art, Made Affordable for Everyone</p>
    <a class="ui fluid toggle button" href="/gallery/index">Check out Gallery</a>
  </div>
</div>
