<div class="heading_container">
  <div class='heading_text_container'>
    <h1 class='heading_text'>iArt Gallery</h1>
    <hr/>
    <p class="heading_para">Great Art, Made Affordable for Everyone</p>
  </div>
</div>
<div class="ui four cards">
  <div class="card">
    <div class="image">
      <img src="https://github.com/whoisryosuke/semantic-ui-react-clean/blob/master/docs/public/images/avatar/large/jenny.jpg?raw=true">
    </div>
    <div class="extra">
      Rating: 3
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://github.com/whoisryosuke/semantic-ui-react-clean/blob/master/docs/public/images/avatar/large/elliot.jpg?raw=true">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://github.com/whoisryosuke/semantic-ui-react-clean/blob/master/docs/public/images/avatar/large/jenny.jpg?raw=true">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://github.com/whoisryosuke/semantic-ui-react-clean/blob/master/docs/public/images/avatar/large/elliot.jpg?raw=true">
    </div>