<div class='ui container'>
    <div class='ui right sidebar vertical  inverted menu'>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
        <a href="#" class='item'>Monday</a>
    </div> 
</div>